package components

templ Title(title string) {
    @TitleStyle()
    <h1 class="title">
        {title}
    </h1>    
}

templ TitleStyle() {
    <style>
        .title {
            font-size: 70px;
            color: var(--color-white);
            font-width: bold;
            margin-bottom: 12px;
            margin-top: 0px;
        }
    </style>
}