package views

import "bulletin-board/views/components"
import "bulletin-board/views/layout"

templ Main() {
    @layout.Layout(layout.LaoutProprs{
        Title: "Найди работу мечты",
        MetaDescription: "Сервис поиска работы",
    }) {
        <main>
            @MainStyle()
            @layout.Header() {
            @components.Title("Найди работу своей мечты")
            @components.SubTitle("Подстрока")
            }
            Main
            <div class="main__submit-form">
                @components.Title2("Опубликовать вакансию")
                @components.Input(components.InputProps{
                    Placeholder: "Должность",
                    Name: "role",
                })
                @components.SubmitButton() {
                    <span>
                        Отправить
                    </span>
                }
            </div>
        </main>
    }    
}

templ MainStyle() {
<style>
    .main__submit-form {
        background: rgba(48, 150, 137, 0.10);
    }
</style>
}