package views

import "bulletin-board/views/components"
import "bulletin-board/views/layout"

templ Main() {
    @layout.Layout(layout.LaoutProprs{
        Title: "Найди работу мечты",
        MetaDescription: "Сервис поиска работы",
    }) {
        <main>
            @layout.Header() {
            @components.Title("НЕ Найди работу своей мечты")
            @components.SubTitle("Подстрока")
            }
            Main
        </main>
    }    
}